 .modal.show {
   display: block;
   background-color: rgba(0, 0, 0, 0.5);
 }

 .modal-backdrop {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1040;
   width: 100vw;
   height: 100vh;
   background-color: #000;
   opacity: 0.5;
 }
